PORT=5050
HOST=0.0.0.0
NODE_ENV=development

# Database Configuration (Point to PostgreSQL database container or host)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce

APP_VERSION=1.0.0
